# Python cache
__pycache__/
*.pyc

# Notebooks
.ipynb_checkpoints/

# Env
venv/
.env/

# Large Files
*.npy
*.npz
*.h5
*.pkl
*.ckpt
*.tfrecord

# Data processed
data/processed/*

# System files
.DS_Store
Thumbs.db
